<h1> Vendor Sweet form </h1>
<hr>

<%=form_for(@vendor_sweet) do |f|%>
    
    <strong><%= f.label :vendor_id %><br></strong>
    <%=f.collection_select :vendor_id, @vendors, :id, :name %><br>
   <strong> <%= f.label :sweet_id %><br></strong>
    <%=f.collection_select :sweet_id, @sweets, :id, :name %><br>
    <strong><%= f.label :price %><br></strong>
    <%=f.number_field :price %><br>
    <%= f.submit %><br>
    <%end%>
    <%if flash[:errors]%>
<% flash[:errors].each do |errors|%>
     <%=  errors %> ! <br>
    <%end%>
    <%end%>