<h1> Vendor Sweet form </h1>
<%if flash[:errors]%>
<% flash[:errors].each do |errors|%>
    <%= errors %><br>
    <%end%>
    <%end%>
<%=form_for(@vendor_sweet) do |f|%>
    <%= f.label :price %><br>
    <%=f.number_field :price %><br>
    <%= f.label :vendor_id %><br>
    <%=f.collection_select :vendor_id, @vendors, :id, :name %><br>
    <%= f.label :sweet_id %><br>
    <%=f.collection_select :sweet_id, @sweets, :id, :name %><br>
    <%= f.submit %>
    <%end%>