<h1><%= @vendor.name %> </h1>

<ol>
<% @vendor.sweets.each do |sweet|  %>
<li> <%= link_to sweet.name, sweet_path%> </li>
<% end %>
</ol>
<br><br>
<%= button_to "Sweets Index", sweets_path, method: :get %>
<%= button_to "Vendors Index", vendors_path, method: :get %>
<%= button_to "Create new VendorSweet", new_vendor_sweet_path, method: :get %>