<h1><%= @vendor.name %></h1>

<h2>Sweets: </h2>
<ul>
<% @vendor.vendor_sweets.each do |vs| %>
  <li>
    <%= link_to vs.sweet.name, sweet_path(vs.sweet) %>: <%= vs.price %>¢
  </li>
<% end %>
</ul>

<%= link_to 'Return to Index', vendors_path %> <br>
<%= link_to 'New Sweet', new_vendor_sweet_path %>